---

on:
  workflow_call:
    inputs:
      output-registry: 
        description: "The registry to push the image to"
        type: string
        default: ghcr.io
      output-repository-path:
        description: "The path to the repository to push the image to"
        type: string
        required: true
      dockerfile-path:
        description: "The path of the Dockerfile to build"
        type: string
        required: true
      build-context:
        description: "The build context to use"
        type: string
        default: .
      ssh-known-hosts:
        description: "The known_hosts to include"
        type: string
        default: |
          # github.com:22 SSH-2.0-babeld-42a36784
          github.com ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==
          # github.com:22 SSH-2.0-babeld-42a36784
          github.com ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBEmKSENjQEezOmxkZMy7opKgwFB9nkt5YRrYMjNuG5N87uRgg6CLrbo5wAdT/y6v0mKV0U2w0WZ2YB/++Tpockg=
          # github.com:22 SSH-2.0-babeld-42a36784
          github.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOMqqnkVzrm0SdG6UOoqKLsabgH5C9okWi0dh2l9GKJl
      enable-ssh-key-action:
        description: "Enable the SSH key action, allowing use of the SSH key in the build context"
        type: boolean
        default: false
    secrets:
      ssh-key:
        description: "The SSH key to use. If provided, will be available in the build context."
        required: false

jobs:
  image:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - uses: shimataro/ssh-key-action@v2
      if: "inputs.enable-ssh-key-action"
      with:
        key: ${{ secrets.ssh-key }}
        known_hosts: ${{ inputs.ssh-known-hosts }}
        if_key_exists: replace

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Log in to GHCR
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata (pull request)
      id: meta_pr
      uses: docker/metadata-action@v4
      if: "!(github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master')"
      with:
        images: ${{ inputs.output-registry }}/${{ inputs.output-repository-path }}
        tags: |
          type=ref,event=pr,prefix=PR

    - name: Extract metadata (tags)
      id: meta_tags
      uses: docker/metadata-action@v4
      if: "startsWith(github.ref, 'refs/tags/')"
      with:
        images: ${{ inputs.output-registry }}/${{ inputs.output-repository-path }}
        tags: |
          type=ref,event=tag

    - name: Extract metadata (mainline)
      id: meta_mainline
      uses: docker/metadata-action@v4
      if: "github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master'"
      with:
        images: ${{ inputs.output-registry }}/${{ inputs.output-repository-path }}
        tags: |
          type=raw,value=latest
          type=sha,prefix={{branch}}-,format=short

    - name: Build image with artifacts
      uses: docker/build-push-action@v3
      with:
        context: "${{ inputs.build-context }}"
        file: "${{ inputs.dockerfile-path }}"
        push: true
        tags: ${{ steps.meta_pr.outputs.tags || steps.meta_tags.outputs.tags || steps.meta_mainline.outputs.tags }}
        build-args: |
          GOOS=linux
          GOARCH=amd64
        platforms: |
          linux/amd64
        cache-from: type=gha
        cache-to: type=gha,mode=max
        ssh: "${{ inputs.enable-ssh-key-action && 'default=/home/runner/.ssh/id_rsa' || null }}"